@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100&display=swap');


.App {
  text-align: center;
  padding-top: 100px;
  padding-right: 200px;
  padding-left: 300px;
  font-family: 'Nunito', sans-serif;
  
  
}


